* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.max-width-wrapper {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

main {
  background-color: hsl(0deg, 0%, 40%);
  border-top: solid 8px hsl(0deg, 0%, 60%);
  padding-top: 48px;
  padding-bottom: 48px;
}

.title {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.intro-chunk {
  margin: 64px 16px ;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: solid 8px hsl(0deg, 0%, 60%);
  padding-top: 16px;
  padding-bottom: 16px;
}

.card p {
  margin: 16px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: solid 8px hsl(45deg, 100%, 40%);
  padding: 16px;
  padding-left: 24px;
  margin-top: -8px;
  margin-left: -8px;
  width: 400px;
  max-width: 95%;
}


